doctype html
html(lang = "en", ng-app = "map")
  head
    link(rel = "stylesheet", href = "static/css/lib/angular-slider.css", type = "text/css")
    link(rel = "stylesheet", href = "static/css/lib/font-awesome.css", type = "text/css")
    link(rel = "stylesheet", href = "static/css/map.css", type = "text/css")
    script(src = "static/js/lib/angular.js", type = "text/javascript")
    script(src = "static/js/lib/angular-sanitize.js", type = "text/javascript")
    script(src = "static/js/lib/angular-slider.js", type = "text/javascript")
    script(src = "static/js/lib/mousetrap.js", type = "text/javascript")
    script(src = "static/js/lib/angular-hotkeys.js", type = "text/javascript")
    script(src = "static/js/lib/hamster.js", type = "text/javascript")
    script(src = "static/js/lib/mousewheel.js", type = "text/javascript")
    script(src = "static/js/lib/color.js", type = "text/javascript")

    script(src = "static/js/data/initial.js", type = "text/javascript")
    script(src = "static/js/data/changes.js", type = "text/javascript")
    //-script(src = "static/js/data/population.js", type = "text/javascript")
    script(src = "static/js/data/history.js", type = "text/javascript")

    script(src = "static/js/app.js", type = "text/javascript")
    script(src = "static/js/controller.js", type = "text/javascript")
    script(src = "static/js/time.js", type = "text/javascript")
    script(src = "static/js/transform.js", type = "text/javascript")
    script(src = "static/js/countries.js", type = "text/javascript")
    script(src = "static/js/hotkeys.js", type = "text/javascript")
    script(src = "static/js/history.js", type = "text/javascript")
  body(ng-controller = "MapCtrl", ng-keydown="keydown")
    title The world, 1945-2014
    //-p#count {{ count }}
    #labelmarker(ng-show="label.visible()" ng-style="{left: label.x + 'px', top: label.y + 'px'}")
      #label(ng-class="label.flip")
        p {{ label.text() }}
    #sidebar
      //-#infobox
      a#formal(ng-class = "{nopoint: drag_data.dragging}",
               ng-attr-href = "{{ link() }}",
               target="_blank")
        {{ formal() }}
      img#flag(ng-src="{{ flag() }}",
               ng-show="flag()",
               ng-class="{hoverable: !drag_data.dragging}")
      p.description {{ description() }}
      p.description(ng-repeat="p in history_text()",
                    ng-hide="curr_code()")
        {{ p }}
      //-hr#sidebar-spacer
    #map(transformable, countries, time, hotkeys, history,
         ng-style="{width: mapWidth + 'px', height: (mapHeight+57) + 'px'}",
         ng-mousedown="grab($event)",
         ng-mousemove="drag($event)",
         ng-mouseup="release()",
         ng-mouseleave="release()")

      #timeline(ng-mouseover="release()")
        #playbox
          span#play.fa(ng-click = "play()",
                       ng-class = "{true: 'fa-play', false: 'fa-pause'}[paused]")
        slider.noselect(floor="0",
               ceiling="{{ max_time }} ",
               precision="1",
               translate="pretty_format",
               ng-model="raw_time")
      //-#info.noselect(ng-show = "curr_code()",
                     //-ng-mouseover="set_info_selected()",
                     //-ng-mouseleave="info_selected=undefined")

      #zoomin.zoom.noselect(ng-click = "zoom(1)")
        span.fa.fa-plus
      #zoomout.zoom.noselect(ng-click = "zoom(-1)")
        span.fa.fa-minus

      svg#world.noselect(
            msd-wheel="mousewheel($event, $delta, $deltaX, $deltaY)",
            ng-attr-width="{{ mapWidth }}",
            ng-attr-height="{{ mapHeight }}",
            ng-click="hard_select(undefined, $event)")
        g(ng-attr-transform="scale({{ scale }}) translate({{ x_trans }}, {{ y_trans }})")
          path(ng-repeat = "country in visible_countries",
               ng-attr-d = "{{ country.d }}",
               ng-class = "country.fill + selected(country) + highlighted(country)",
               ng-click="hard_select(country.code, $event)",
               ng-mouseover="soft_select(country.code, $event)",
               ng-mousemove="move_label($event)",
               ng-mouseleave="deselect()")
               //-ng-attr-d = "{{ country.d }}",
