doctype html
html(lang = "en", ng-app = "map")
  head
    link(rel = "stylesheet", href = "../static/css/lib/angular-slider.css", type = "text/css")
    link(rel = "stylesheet", href = "../static/css/lib/font-awesome.css", type = "text/css")
    link(rel = "stylesheet", href = "../static/css/map.css", type = "text/css")
    script(src = "../static/js/lib/angular.js", type = "text/javascript")
    script(src = "../static/js/lib/angular-slider.js", type = "text/javascript")
    script(src = "../static/js/lib/hamster.js", type = "text/javascript")
    script(src = "../static/js/lib/mousewheel.js", type = "text/javascript")
    script(src = "../static/js/lib/color.js", type = "text/javascript")

    script(src = "../static/js/data/initial.js", type = "text/javascript")
    script(src = "../static/js/data/changes.js", type = "text/javascript")
    script(src = "../static/js/data/fills.js", type = "text/javascript")
    script(src = "../static/js/data/population.js", type = "text/javascript")

    script(src = "../static/js/init.js", type = "text/javascript")
    script(src = "../static/js/transform.js", type = "text/javascript")
    script(src = "../static/js/controller.js", type = "text/javascript")
    script(src = "../static/js/app.js", type = "text/javascript")
    script(src = "../static/js/directives.js", type = "text/javascript")
  body(ng-controller = "MapCtrl")
    //-p#count {{ count }}
    #labelmarker(ng-show="label.visible" ng-style="{left: label.x + 'px', top: label.y + 'px'}")
      #label
        p {{ label_text() }}
    #map(resizeable,
         ng-style="{width: mapWidth + 'px', height: mapHeight + 'px'}",
         ng-mousedown="grab($event)",
         ng-mousemove="drag($event)",
         ng-mouseup="release()",
         ng-mouseleave="release()")

      #info
        #infobox
        img#flag(ng-src="{{ flag() }}", ng-show="flag()")
        p#formal {{ formal() }}
        #playbox
          span.play.fa(ng-click = "play()",
                       ng-class = "{true: 'fa-play', false: 'fa-pause'}[paused]")
        slider(floor="0" ceiling="{{ max_time }} " precision="1" translate="pretty_format" ng-model="raw_time")

      svg#world(
            resizeable,
            msd-wheel="mousewheel($event, $delta, $deltaX, $deltaY)",
            ng-attr-width="{{ mapWidth }}",
            ng-attr-height="{{ mapHeight }}",
            ng-click="hard_select(undefined, $event)")
        g(ng-attr-transform="scale({{ scale }}) translate({{ x_trans }}, {{ y_trans }})")
          path(ng-repeat = "(code, country) in countries[time]",
               ng-attr-d = "{{ country.d }}",
               ng-class = "fills[code] + {true: ' selected', false: ''}[code == selected]",
               ng-click="hard_select(code, $event)",
               ng-mouseover="soft_select(code, $event)",
               ng-mousemove="move_label($event)",
               ng-mouseleave="deselect()")
