!!!
html(lang = "en", ng-app = "map")
  head
    link(rel = "stylesheet", href = "../static/css/lib/angular-slider.css", type = "text/css")
    link(rel = "stylesheet", href = "../static/css/map.css", type = "text/css")
    script(src = "../static/js/lib/angular.js", type = "text/javascript")
    script(src = "../static/js/lib/angular-slider.js", type = "text/javascript")
    script(src = "../static/js/lib/hamster.js", type = "text/javascript")
    script(src = "../static/js/lib/mousewheel.js", type = "text/javascript")
    script(src = "../static/js/lib/color.js", type = "text/javascript")

    script(src = "../static/js/data/initial.js", type = "text/javascript")
    script(src = "../static/js/data/changes.js", type = "text/javascript")
    script(src = "../static/js/data/fills.js", type = "text/javascript")
    script(src = "../static/js/data/population.js", type = "text/javascript")

    script(src = "../static/js/transform.js", type = "text/javascript")
    script(src = "../static/js/controller.js", type = "text/javascript")
    script(src = "../static/js/app.js", type = "text/javascript")
  body(ng-controller = "MapCtrl")
    #labelmarker(ng-show="label.visible" ng-style="{left: label.x + 'px', top: label.y + 'px'}")
      #label
        p {{ label_text() }}
    #map(ng-style="{width: width + 'px', height: height + 'px'}")
      #info
        #infobox
        //-img#flag(ng-src="{{ flag() }}", ng-show="flag() != ''")
        p#formal {{ formal() }}
        #playbox
          svg.play(ng-show = "paused",
                   ng-click = "play()")
            g(transform="translate(0,11)", id="layer1")
              path(
                d="M 10.19748,6.5810666 5.4640851,9.3138934 0.73069048,12.04672 l 0,-5.4656535 0,-5.4656533 L 5.4640854,3.84824 z",
                transform="matrix(2.4331777,0,0,2.4331777,-1.5768056,-13.512904)",
                id="path4956",
                style="fill:#000000;fill-opacity:1;stroke:#9d9d9d;stroke-width:0.16529344;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" )
          svg.play(ng-hide = "paused",
                   ng-click = "play()")
            g(transform="translate(0,11)", id="layer1")
              rect(
                width="7.762732",
                height="23.603754",
                x="1.1981229",
                y="-9.301877",
                id="rect4958",
                style="fill:#000000;fill-opacity:1;stroke:#9d9d9d;stroke-width:0.3962456;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none")
              rect(
                width="7.762732",
                height="23.603754",
                x="11.345233",
                y="-9.301877",
                id="rect4958-6",
                style="fill:#000000;fill-opacity:1;stroke:#9d9d9d;stroke-width:0.3962456;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none")

        slider(floor="0" ceiling="{{ max_raw_time }} " precision="1" translate="pretty_format" ng-model="raw_time")
      svg#world(msd-wheel="zoom($event, $delta, $deltaX, $deltaY)",
                ng-mousedown="grab($event)",
                ng-mousemove="drag($event)",
                ng-mouseup="release()",
                ng-mouseleave="release()",
                ng-click="hard_select(undefined, $event)",
                ng-attr-width="{{ width }}",
                ng-attr-height="{{ height }}")
        g(ng-attr-transform="scale({{ scale }}) translate({{ x_trans }}, {{ y_trans }})")
          path(ng-repeat = "(code, country) in countries[time()]",
               //-ng-attr-d = "{{ country.d }}",
               ng-attr-d = "{{ get_d(code, country) }}",
               ng-style = "{'stroke-width':0.75, 'stroke-miterlimit':4, fill: fill(code), 'fill-opacity':1, stroke:'#000000', 'stroke-opacity':1}"
               ng-click="hard_select(code, $event)",
               ng-mouseover="select(code, $event)",
               ng-mousemove="move_label($event)",
               ng-mouseleave="deselect()"
            )
